* {
  list-style-type: none;
}

* {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

.body-idx {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

.flex-content {
  display: flex;
  align-items: center;
  gap: 93px;
}

.webstudio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.header-menu {
  display: flex;
  gap: 50px;
}

.navigation {
  position: relative;
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  padding: 32px 0;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation::after {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  margin-top: 28px;
  border-radius: 2px;
  transition: opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
}

.current {
  position: relative;
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
  padding: 32px 0;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  position: absolute;
  display: block;
  opacity: 1;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  margin-top: 28px;
  border-radius: 2px;
  transition: opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
}

.current:hover {
  color: #2196f3;
}

.navigation:hover {
  color: #2196f3;
}

.header-address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-left: auto;
}

.icon-nav-mail {
  margin-right: 10px;
}

.icon-nav-phone {
  margin-right: 10px;
}

.navigation-address-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  fill: #757575;
  color: #757575;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-address-phone:hover {
  color: #2196f3;
  fill: #2196f3;
}

.navigation-address-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  fill: #757575;
  color: #757575;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms, fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-address-mail:hover {
  color: #2196f3;
  fill: #2196f3;
}

.section-main {
  margin: 0 auto;
  padding: 200px 0;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-flex {
  padding-top: 94px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin: 0 auto;
}

.hero-title {
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto 30px;
}

.button {
  display: block;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border-color: #2196f3;
  transition: color 250ms, border-color 250ms, background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: #ffffff;
}

.main-menu {
  display: flex;
  gap: 30px;
  text-align: start;
  flex-grow: 1;
}

.advances-link {
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
}

.section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

.section-content {
  padding: 94px 0;
  margin: 0 auto;
  text-align: center;
}

.section-content-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.flex-container-content {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex-images {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.content-info-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(48, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section {
  margin: 0 auto;
  background-color: #f5f4fa;
  padding: 94px 0;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.team-menu {
  display: flex;
  gap: 30px;
  text-align: center;
}

.box-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  margin-bottom: 10px;
}

.work-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
  margin-bottom: 16px;
}

.box-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.boxcard-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms, background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.boxcard-link:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.section-logo {
  padding: 94px 0;
}

.clients-title {
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  border-color: #2196f3;
}

.clients-logo {
  align-items: center;
  justify-content: center;
  display: flex;
  fill: #afb1b8;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:hover {
  fill: #2196f3;
}

.clients-link:hover .clients-logo {
  color: #2196f3;
  fill: #2196f3;
}

.footer {
  padding: 60px 0;
  background: #2f303a;
}

.webstudio-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  margin-top: 0;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-li {
  margin-bottom: 9px;
}

.footer-li:last-child {
  margin-bottom: 0;
}

.address-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer:hover {
  color: #2196f3;
}

.footer-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover {
  color: #2196f3;
}

.footer-box {
  display: flex;
  gap: 70px;
  align-items: baseline;
  text-align: start;
}

.net-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  color: #ffffff;
  text-align: left;
}

.net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.net-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.net-link:hover {
  background-color: #2196f3;
}

.net-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.mailbox-title{
  margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}


.mailbox-input{
  width:358px ;
  height: 50px;
  padding: 15px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}


.mailbox-button{
  position: relative;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196f3;
  border-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

.mailbox-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  fill: #FFFFFF;
}











/*PORTFOLIO CSS*/

.section-portfolio {
  padding: 94px 0;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background: #ffffff;
}

.container-portfolio {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-portfolio {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
}

.container-portfolio {
  background-color: #ffffff;
}

.flex-nav-menu {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.button-portfolio {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  display: block;
  padding: 6px 22px 6px 22px;
  border-color: #f5f4fa;
  border-radius: 4px;
  background-color: #f5f4fa;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms, color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px 0px #0000001a;
}

.element-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.element-img {
  overflow: hidden;
  position: relative;
  display: block;
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.element-img:hover {
  box-shadow: 1px 4px 6px 0px #00000029;
}

.div-img {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.main-title-portfolio {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 4px;
}

.main-p-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

.element-img-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  color: #ffffff;
  opacity: 0;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms, opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.element-img:hover .element-img-title {
  opacity: 1;
  transform: translateY(0%);
}

.element-img-p {
  margin: 64px 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}






/*Modal Window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
  
}

.modal-close-button {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: #000000;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  fill: #2196f3;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 10px 12px 10px 32px; 
  line-height: 1.125; 
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #2196f3;
}

.form-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  fill: currentColor;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-control:focus-within .form-icon {
  fill: #2196f3;
}

.form-textarea {
  display: block;
  width: 100%;
  max-width: 448px;
  height: 120px;
  padding: 12px;
  margin-left: 0;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}



/*chekbox*/

.checkbox-input {
  appearance: none;
}

.checkbox-label {
  position: relative;
  padding-left: 28px;
  margin-bottom: 30px;
  font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #757575;

}

.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  content: "";
}

.checkbox-label::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  background-image: url(../images/SVG/Vector.svg#icon-Vector-2);
  background-repeat: no-repeat;
  background-color: #2196f3;
  transform: translate();
  opacity: 0;
  content: "";
}

.checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
  transition: opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  display: block; 
  margin: 0 auto; 
  padding: 9px 51px; 
  font-size: 16px; 
  line-height: 1.88;
  letter-spacing: 0.06em; 
  font-weight: 700; 
  color: #FFFFFF; 
  background-color: #2196f3; 
  border-color: transparent; 
  border-radius: 4px; 
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%); 
  cursor: pointer
}

.modal-button:hover{
  background-color: #188CE8;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0%;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
