* {
  list-style-type: none;
}

* {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

body {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
